*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100vh;
	font-weight: bold;
	font-size: 1.5rem;
}

h2 a {
    color: brown;
    text-decoration: none;
    position: relative;
}
h2 a::after{
    content: '';
    position: absolute;
    height: 3px;
    width: 0px;
    bottom: 0;
    left: 0;
    background: #8A153A;
    transition: .5s ease-out;
}

h2 a:hover::after {
	width:100%;
}